<!--
Brief:	Launch file to start a simulated workstation.
Author: Alexandre Bernier
Date:	2021-04-19
Email:	alexandre.bernier.3@ens.etsmtl.ca
-->
<launch>
	<arg name="debug" default="false"/>
	<arg name="dollar" value="$"/>
	<arg name="moveit_config_path" value="(find $(arg robot)_sim_workstation_moveit_config)"/>
	
	<!-- Robot -->
	<arg name="robot" default="ur5e" doc="Choose between: ur5, ur10, ur5e"/>
	<arg name="kinematics_config"/>
	
	<!-- Controllers -->
	<arg name="controllers" value="joint_state_controller pos_joint_traj_controller gripper"/>
	<arg name="stopped_controllers" value="joint_group_pos_controller"/>
	
	<!-- Gazebo specific options -->
	<arg name="gazebo_gui" default="true"/>
	<arg name="paused" default="false"/>
	
	<!-- ************************** -->
	<!-- Load robot and controllers -->
	<!-- ************************** -->
	<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
	<param name="robot_description" command="xacro '$(find coro_descriptions)/urdf/workstations/$(arg robot)_workstation.urdf.xacro' kinematics_config:=$(arg kinematics_config)"/>
	
	<!-- Startup simulated world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="worlds/empty.world"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="gui" value="$(arg gazebo_gui)"/>
  	</include>

  	<!-- Push robot_description to factory and spawn robot in gazebo -->
  	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg robot)_workstation" respawn="false" output="screen"/>
  	
  	<!-- Push controllers to the parameters server -->
  	<rosparam file="$(find ur_gazebo)/config/$(arg robot)_controllers.yaml" command="load"/>
  	<rosparam file="$(find robotiq_85_gazebo)/controller/gripper_controller_robotiq.yaml" command="load"/>
  	
  	<!-- Spawn the controllers -->
  	<node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers)"/>

	<!-- Load other controller -->
	<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load $(arg stopped_controllers)"/>
	
	<!-- Robot state publisher -->
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  	  	
  	<!-- ******************* -->
  	<!-- Then, launch Moveit -->
  	<!-- ******************* -->
  	<!-- Run the main MoveIt executable -->
  	<include file="$(arg dollar)$(arg moveit_config_path)/launch/move_group.launch">
  		<arg name="publish_monitored_planning_scene" value="true"/>
		<arg name="allow_trajectory_execution" value="true"/>
		<arg name="fake_execution" value="false"/>
		<arg name="pipeline" value="ompl"/>
		<arg name="load_robot_description" value="true"/>
		<arg name="info" value="true"/>
		<arg name="debug" default="$(arg debug)"/>
  	</include>
  	
  	<!-- ******** -->
  	<!-- And Rviz -->
  	<!-- ******** -->
  	<!-- Run Rviz and load the default config to see the state of the move_group node -->
  	<include file="$(arg dollar)$(arg moveit_config_path)/launch/moveit_rviz.launch">
  		<arg name="rviz_config" default="$(arg dollar)$(arg moveit_config_path)/launch/moveit.rviz"/>
		<arg name="debug" value="$(arg debug)"/>
	</include>

</launch>
