<!--
Brief:	Launch file to start the workstation either in simulation (gazebo) or by connecting directly to the hardware.
Author: Alexandre Bernier
Date:	2021-05-12
Email:	alexandre.bernier.3@ens.etsmtl.ca
-->
<launch>
	<!-- ********* -->
  	<!-- Arguments -->
  	<!-- ********* -->
	<!-- By default, we are not in debug mode -->
	<arg name="debug" default="false"/>
	
	<!-- Hardware -->
	<arg name="robot" default="ur5e"/>
	<arg name="robot_ip" default="no_ip"/>
	<arg name="kinematics_config" default="$(find coro_descriptions)/kinematics/ur5e_calibration.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description. Pass the same config file that is passed to the robot_description."/>
	
  	<!-- If you do not provide the ip address of the robot, the workstation will start in simulation by default -->
  	<arg name="sim" default="true" if="$(eval (robot_ip=='no_ip'))"/>
  	<arg name="sim" value="false" unless="$(eval (robot_ip=='no_ip'))"/>
  	
  	<!-- ******************************************* -->
  	<!-- If simulation, launch simulated workstation -->
  	<!-- ******************************************* -->
	<include if="$(arg sim)" file="$(find coro_workstations)/launch/sim_workstation.launch">
  		<arg name="debug" value="$(arg debug)"/>
		<arg name="robot" value="$(arg robot)"/>
		<arg name="kinematics_config" value="$(arg kinematics_config)"/>
	</include>
  	
	<!-- ************************************** -->
  	<!-- Otherwise, launch hardware workstation -->
  	<!-- ************************************** -->
  	<include unless="$(arg sim)" file="$(find coro_workstations)/launch/hardware_workstation.launch">
  		<arg name="debug" value="$(arg debug)"/>
		<arg name="robot" value="$(arg robot)"/>
		<arg name="robot_ip" value="$(arg robot_ip)"/>
		<arg name="kinematics_config" value="$(arg kinematics_config)"/>
	</include>

</launch>
